@import '../../styles/constants';
@import '../../styles/mixins';
.data-table {
  .ant-table-title {
    padding: 0;
    padding-bottom: 20px;
    h5 {
      margin: 0;
      @include font(18px, 600, 22px, $titleColor);

      strong {
        font-weight: 700;
      }
    }
  }

  .ant-table-thead {
    .ant-table-cell {
      background-color: $primaryColor;
      text-align: center;
      @include font(16px, 600, 18px, #ffffff);
      &::before {
        background-color: #ffffff !important;
      }
    }
  }

  .ant-table-tbody {
    .ant-table-row {
      &:nth-child(2n + 1) {
        background-color: #f7f9fb;
      }
    }
    .ant-table-cell {
      text-align: center;
      @include font(13px, 600, 15px, $secondaryTextColor);
      background-color: transparent;
    }
  }

  .ant-pagination {
    justify-content: center;

    .ant-pagination-item-link,
    .ant-pagination-item {
      border-radius: 50%;
      background: #ffffff;
      border: 1px solid #e7e7ec;
      box-sizing: border-box;
      box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
    }

    .ant-pagination-item-active {
      button {
        background-color: #29cc97;
        border: none;
        color: #ffffff;
      }
    }
  }
}
