@import '../../styles/constants';
@import '../../styles/mixins';

.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  .ant-form {
    background: #ffffff;
    padding: $defaultPadding;
    border: 1px solid #e7e7ec;
    box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
    border-radius: 16px;
  }
}
