@import '../../../styles/constants';
@import '../../../styles/mixins';

.stats-by-cards {
  margin-top: 50px;

  padding: $defaultPadding 0 $defaultPadding $defaultPadding;
  background: #ffffff;
  border: 1px solid #e7e7ec;
  box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.25);
  border-radius: 16px;

  .stats-by-type {
    text-align: center;
    padding: 25px 0;
    border-bottom: 1px solid #dfe0eb;
  }

  .stat-label {
    @include font(18px, 500, 22px, $secondaryTextColor);
  }

  .stat-value {
    @include font(24px, 600, 29px, $primaryTextColor);
    letter-spacing: 0.3px;
  }

  .ant-typography + h5.ant-typography {
    margin: 0;
    margin-top: 6px;
  }
}
