@import '../../../styles/constants';
@import '../../../styles/mixins';
.task-table {
  width: 100%;
  padding: $defaultPadding;
  background: #ffffff;
  border: 1px solid #e7e7ec;
  box-sizing: border-box;
  box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
  border-radius: 16px;
  overflow: hidden;

  .ant-table-title {
    @include font(18px, 600, 22px, $titleColor);
  }

  .ant-table-thead {
    background-color: $primaryColor;

    th {
      background-color: transparent;

      @include font(16px, 600, 18px, white);
    }
  }

  td.ant-table-cell {
    @include font(13px, 400, 15px, $secondaryTextColor);
  }
}
