@import '../../styles/constants';
@import '../../styles/mixins';


.payments {

  .ant-table-cell {
    &:hover {
      .ant-table-column-sorters {
        span {
          color: #14005E;
        }
      }
    }
  }


  background-color: transparent;

  .ant-card-body {
    background: #ffffff;
    border: 1px solid #e7e7ec;
    box-sizing: border-box;
    box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
    border-radius: 20px;
  }
}
