@import '../../../styles/constants';
@import '../../../styles/mixins';

.client-data {
  background: #ffffff;
  border: 1px solid #dfe0eb;
  border-radius: 20px;

  .ant-list-item {
    @include font(16px, 400, 30px, #77838f);
  }
  .buttons {
    margin: 0 auto;
    width: 80%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-bottom: 20px;

    .ant-btn {
      width: 100%;
      height: 60px;
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include font(20px, 500, 30px, #ffffff);
      box-shadow: 0px 4px 4px rgba(40, 167, 69, 0.12);
      border-radius: 4px;
      .anticon svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
