@import '../../styles/constants';
@import '../../styles/mixins';

.limit {
  background: #ffffff;
  border: 1px solid #e7e7ec;
  box-sizing: border-box;
  box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
  border-radius: 16px;

  &-form {
    justify-content: space-between;
  }

  .ant-form-item {
    flex-direction: column;
  }

  .ant-form-item-label {
    text-align: left;

    & > label {
      @include font(16px, 400, 30px, $titleColor);
    }
  }

  .submit-btn {
    height: 40px;
    padding: 10px 20px;
    border-radius: 4px;
  }
}
