$titleColor: #2f2d51;
$primaryColor: #090761;
$primaryTextColor: #090761;
$secondaryTextColor: rgba(9, 7, 97, 0.5);
$appBgColor: #e5e5e5;


$menuInactiveTextColor: #334d6e;
$buttonImportBgColor: #28a745;
$buttonClearBgColor: #9b9b9b;
$buttonDeleteBgColor: #FF5254;
$defaultPadding: 32px;


.btnMainStyle{
  border-radius: 4px;
  border: 1px solid $primaryColor;
  color: $primaryColor;
}



