@import '../../../styles/constants';
@import '../../../styles/mixins';

.section-cover{
  &__cover-status_active,
  &__cover-status_inactive {
    font-size: 18px;
    color: #28A745;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
  }
  &__cover-status_inactive {
    color: #FF0000;
  }
  &__action-buttons {
    padding:30px 0;
    display: flex;
    .button {
      height: 52px;
      min-width: 200px;
      background: #ffffff;
      box-shadow: 0px 4px 90px rgba(163, 171, 185, 0.24);
      border-radius: 16px;
      margin-right: 20px;
      @include font(16px, 500, 18px);
    }
  }
  &__run-operation {
    border-color: transparent !important;
  }
  &__stop-operation {
    border-color: transparent;
    background: #FF0000 !important;
    &:hover {
      color: #ffffff;
    }
  }
}
