@import '../../styles/constants';
@import '../../styles/mixins';

.clients {
  .details-button {
    color: $primaryColor;
    border-color: $primaryColor;
  }

  &__alert {
    margin-bottom: 30px;
  }
}
