.payments {
  &__confirmation-password {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;


    &__form {
      width: 400px;
      height: 200px;
      text-align: center;
      padding: 40px;
      border: 1px solid #e7e7ec;
      box-sizing: border-box;
      box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);

      &-label {
        font-weight: bold;
        font-size: 15px;
      }

      &-submit {
        margin-top: 15px
      }
    }


  }

  display: flex;
  align-items: center;
  justify-content: center;

  &__result-loading-cards-list {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;

    p {
      width: 100%;

    }
  }


}
