@import '../../styles/constants';
@import '../../styles/mixins';

.header {
  padding: $defaultPadding;

  .avatar-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;

    h5 {
      margin: 0;
      margin-right: 20px;

      @include font(14px, 500, 22px, $titleColor);
    }
  }

  .ant-page-header-content {
    display: flex;
    justify-content: space-between;
  }

  .ant-avatar {
    border: 2px solid #dfe0eb;
  }
}
