.filter-field {
  justify-content: space-between;
  margin: 10px;
  width: 100%;
  display: flex;
  &__input,
  &__date-picker{
    width: 80%;
  }

  &__label {
    width: 25%;
    margin-right: 10px;
    font-weight: bold;
  }

  .ant-select {
    width: 80%;
  }

  &__btn {
    text-align: right;
  }

  .ant-select-selection-item {
    img{
      width: 20px;
      height: 20px ;
    }
  }

}
