@import '../../../styles/constants';
@import '../../../styles/mixins';

.payment-details {
  margin-top: 50px;
  background: #ffffff;
  border: 1px solid #e7e7ec;
  box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
  border-radius: 16px;

  .ant-table-cell {
    text-align: center;
  }

  .ant-table-thead {
    .ant-table-cell {
      background-color: $primaryColor;
      @include font(16px, 600, 18px, #ffffff);

      &::before {
        background-color: #ffffff !important;
      }
    }
  }
}
