@import '../../styles/constants';
@import '../../styles/mixins';

.sidebar {
  background-color: #ffffff;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
  padding: $defaultPadding;


.ant-layout-sider-children{
  position: fixed;
}
  .ant-menu{
    width: 270px;
  }

  .page-title {
    @include font(32px, 600, 39px, $titleColor);

    margin-bottom: $defaultPadding;
  }

  .divider {
    margin-bottom: 56px;
  }

  .ant-menu-submenu-title,
  .ant-menu-submenu-title:hover {
    .ant-menu-title-content {
      @include font(16px, 500, 20px, $secondaryTextColor);
    }
  }

  .sidebar .menu .ant-menu-item-selected {
    @include font(16px, 500, 20px, $secondaryTextColor);
    background-color: #ffffff;

    &::after {
      width: 0;
    }
  }

  .ant-menu-sub {
    .ant-menu-title-content a {
      display: flex;
      align-items: center;
      @include font(13px, 400, 16px, $secondaryTextColor);
    }
    .submenu-icon {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 2px solid #2ed47a;
      margin-right: 5px;
    }
  }

  .ant-menu-submenu-active,
  .ant-menu-submenu-open {
    @include font(16px, 500, 20px, $secondaryTextColor);
  }

  .menu {
    border-right: none;

    &-item {
      display: flex;
      align-items: center;

      a {
        @include font(16px, 500, 20px, $secondaryTextColor);
      }
    }

    .ant-menu-item-selected {
      color: $primaryTextColor;
      a {
        @include font(16px, 500, 20px, $primaryTextColor);
      }
    }
  }
}
