@import '../../../styles/constants';
@import '../../../styles/mixins';

.card {
  width: 350px;
  height: 180px;
  padding: $defaultPadding;
  box-shadow: 0px 4px 90px rgba(163, 171, 185, 0.24);
  border-radius: 16px;

  .ant-card-body {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    box-shadow: none;
  }

  .text {
    @include font(18px, 500, 22px, $secondaryTextColor);
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .amount {
    @include font(18px, 600, 39px, $primaryTextColor);
  }

  .icon-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 15px;
    svg {
      width: 18px;
      height: 18px;
    }
  }

  .btn-next {
    width: 40px;
    height: 40px;
    background-color: #e6eaf0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-next {
    width: 10px;
    height: 10px;
    color: #1f4173;
  }
}
