@import '../../../styles/constants';
@import '../../../styles/mixins';

.stats-by-cards-circle {
  margin-top: 50px;
  padding: $defaultPadding;
  background: #ffffff;
  border: 1px solid #e7e7ec;
  box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.25);
  border-radius: 16px;

  &__no-data-transactions {
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
