@import '~antd/dist/antd.css';
@import './styles/constants';
@import './styles/mixins';

.body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  background-color: $appBgColor;
  width: 100%;
  min-height: 100vh;
  height: 100%;

  font-family: Montserrat, Tahoma, sans-serif;

  .content {
    padding: 0 $defaultPadding;
  }
}

.action-button {
  height: 40px;
  margin-right: 10px;
  padding: 10px 22px ;
  @include font(13px, 500, 15px, white);
  border-radius: 4px;

  &:last-child {
    margin-right: 0;
  }

}

.button {
  &--clear {
    background-color: $buttonClearBgColor;
    color: #fff;

    &:focus {
      background-color: $buttonClearBgColor;
      color: $buttonClearBgColor;
    }
  }
  &--delete{
    background-color: $buttonDeleteBgColor;
    color: #ffffff;
  }

  &--disabled {
    color: #D9D9D9;
  }

  &--import {
    background-color: $buttonImportBgColor;
    color: #fff;

    &:hover,
    &:focus {
      background-color: $buttonImportBgColor;
      color: #fff;
    }
  }
}
