@import '../../../styles/constants';
@import '../../../styles/mixins';

.card-data {
  background: #ffffff;
  border: 1px solid #e7e7ec;
  box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
  border-radius: 16px;
  margin-top: 50px;

  &-title {
    .ant-btn {
      margin-left: 10px;
    }
  }

  .ant-btn-link{
    color: #ffffff;
    border: transparent;
    border-radius: 4px;
    transition: all .2s;
    &:hover{
      -webkit-box-shadow: 1px 1px 15px 0px rgba(34, 60, 80, 0.31);
      -moz-box-shadow: 1px 1px 15px 0px rgba(34, 60, 80, 0.31);
      box-shadow: 1px 1px 15px 0px rgba(34, 60, 80, 0.31);
    }
  }


  .ant-table-cell {
    text-align: center;
  }

  .ant-table-thead {
    .ant-table-cell {
      background-color: $primaryColor;
      @include font(16px, 600, 18px, #ffffff);

      &::before {
        background-color: #ffffff !important;
      }
    }
  }
}
