.additional-card-action-set-limit-buttons {
  width: 100%;
  margin-top: 10px;
  text-align: right;

  button {
    margin-right: 10px;
    border-radius: 5px;
  }
}

.setting-action-buttons-page {
  margin-top: 10px;
  padding: 20px;
  background-color: #ffffff;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0px 4px 90px rgb(163 171 185 / 24%);

  .ant-pagination {
    display: none;
  }

  .additional-card-action-status {
    border-radius: 5px;
    padding: 8px 20px;

    &.active {
      background-color: #DCFBE3;
      color: #2ED47A;
    }

    &.inactive {
      background-color: #E3E3E3;
      color: #5E5873;
    }

    &.error {
      background-color: #FBDCDC;
      color: #F7685B;
    }
  }

  .additional-card-action {
    border-color: transparent;
    border-radius: 5px;
    font-weight: bold;

    &.reload-operation {
      background-color: #28A745;
      color: #ffffff;
    }

    &.stop-operation {
      background-color: #FFB946;
      color: #ffffff;
    }
  }

  &__confirmation-password {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;


    &__form {
      width: 400px;
      height: 200px;
      text-align: center;
      padding: 40px;
      border: 1px solid #e7e7ec;
      box-sizing: border-box;
      box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);

      &-label {
        font-weight: bold;
        font-size: 15px;
      }

      &-submit {
        margin-top: 15px
      }
    }


  }
}


