.add-new-card{
  label{
    font-weight: bold;
  }

  &__btns{
    width: 100%;
    text-align: right;
    margin-top: 30px;
  }
  &__input-element{
    &.card-exp{
      margin-top: 20px;
    }
  }
  input{
    width: 100%;
    padding: 5px 15px;
    border: 1px solid #9b9b9b;
    border-radius: 5px;
    outline: none;
    &:focus{
      border-color: #0E8BFA;
    }
  }
  &__invalid{
    font-size: 12px;
    font-weight: bold;
    color: #FF5254;
  }
  .required-star{
    color: #FF5254;
  }




}